<!-- HEADER -->
<div id="header">
    <header class="header">
        <div class="header-inner">
            <nav class="navbar navbar-default main-nav-wrap navbar-static-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav primary-menu">
                            <li class="home" id="nav-home"><a href="@Url.Action("Index","Home")">Home</a></li>

                            <li id="nav-offers"><a href="@Url.Action("Index","Offers")">Aanbiedingen</a></li>

                            <li id="nav-howworks"><a href="@GlobalStatic.UrlHowDoesItWork">Hoe werkt het?</a></li>

                            <li id="nav-about-us"><a href="@Url.Action("AboutUs", "Home")">Over ons</a></li>

                            <li id="nav-locaties"><a href="@Url.Action("Index","Location")">Vestigingen</a></li>

                            <li id="nav-faq"><a href="@Url.Action("Index", "FAQ")">Veelgestelde vragen</a></li>

                            <li id="nav-contact"><a href="@Url.Action("Index","Contact")">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <!-- / header-inner -->
    </header>
    <!-- / header -->
</div>
<!-- / HEADER -->  

<!-- HEADER FIXED -->
<div id="header" class="fixed">
    <header class="header">
        <div class="header-inner">
            <nav class="navbar navbar-default main-nav-wrap navbar-static-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav primary-menu">
                            <li class="home" id="nav-home"><a href="@Url.Action("Index","Home")">Home</a></li>

                            <li id="nav-offers"><a href="@Url.Action("Index","Offers")">Aanbiedingen</a></li>

                            <li id="nav-howworks"><a href="#">Hoe werkt het?</a></li>

                            <li id="nav-about-us"><a href="@Url.Action("AboutUs", "Home")">Over ons</a></li>

                            <li id="nav-locaties"><a href="@Url.Action("Index","Location")">Vestigingen</a></li>

                            <li id="nav-faq"><a href="@Url.Action("Index", "FAQ")">Veelgestelde vragen</a></li>

                            <li id="nav-contact"><a href="@Url.Action("Index","Contact")">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <!-- / header-inner -->
    </header>
    <!-- / header -->
</div>
<!-- / HEADER FIXED -->  

 
