 <!-- TOOLBAR -->
<div id="toolbar">
    <nav class="toolbar">
        <div class="toolbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-5 col-sm-3">
                        <a class="brand" href="@Url.Action("Index","Home")">
                            <img src="@Url.Content("~/Assets/images/logo.gif")" alt="" />
                        </a>
                    </div>
                    <!-- col -->
                    <div class="col-md-5 col-xs-7 col-sm-6">
                        <div class="phone-block">
                            <table class="normal">
                                <tr>
                                    <td class="big-phone-image">
                                        <img src="@Url.Content("~/Assets/images/phone.png")" alt="">
                                    </td>
                                    <td>
                                        <div class="big-phone-desc">
                                            Heeft u vragen? Judith staat u graag te woord.
                                        </div>
                                        <div class="big-phone">
                                            <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:073 890 1180">073 890 1180</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <!-- col -->
                    <div class="col-md-2 col-xs-hidden col-sm-3">
                        <div class="lang-block">
                            <a href="" class="change-lang-link">
                                <img src="@Url.Content("~/Assets/images/phap.gif")" alt=""> Change language
                            </a>
                        </div>

                        <div class="nav-container">
                            <a href="" class="login-link">
                                <i class="fa fa-sign-in"></i> Beheer boeking
                            </a>
                        </div>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->

        </div>
        <!-- toolbar-inner -->
    </nav>
    <!-- toolbar -->
</div>
<!-- / TOOLBAR -->

<!-- TOOLBAR FIXED -->
<div id="toolbar" class="fixed">
    <nav class="toolbar">
        <div class="toolbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-5 col-sm-3">
                        <a class="brand" href="@Url.Action("Index","Home")">
                            <img src="@Url.Content("~/Assets/images/logo.gif")" alt="" />
                        </a>
                    </div>
                    <!-- col -->
                    <div class="col-md-5 col-xs-7 col-sm-6">
                        <div class="phone-block">
                            <table class="normal">
                                <tr>
                                    <td class="big-phone-image">
                                        <img src="@Url.Content("~/Assets/images/phone.png")" alt="">
                                    </td>
                                    <td>
                                        <div class="big-phone-desc">
                                            Heeft u vragen? Judith staat u graag te woord.
                                        </div>
                                        <div class="big-phone">
                                            <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:073 890 1180">073 890 1180</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <!-- col -->
                    <div class="col-md-2 col-xs-hidden col-sm-3">
                        <div class="lang-block">
                            <a href="" class="change-lang-link">
                                <img src="@Url.Content("~/Assets/images/phap.gif")" alt=""> Change language
                            </a>
                        </div>

                        <div class="nav-container">
                            <a href="" class="login-link">
                                <i class="fa fa-sign-in"></i> Beheer boeking
                            </a>
                        </div>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->

        </div>
        <!-- toolbar-inner -->
    </nav>
    <!-- toolbar -->
</div>
<!-- / TOOLBAR FIXED -->
